<!DOCTYPE html>

<html>
    <head>
        <title>Match 3 :: META</title>

        <script src="http://infinite-games.com/meta.latest.js"></script>

        <script src="src/main.js"></script>
        <script src="src/Intro.Controller.js"></script>
        <script src="src/MatchGame/MatchGame.Controller.js"></script>
        <script src="src/MatchGame/MatchGame.Cfg.js"></script>
        <script src="src/MatchGame/Entity.Field.js"></script>
        <script src="src/MatchGame/Entity.Gem.js"></script>
    </head>

    <body></body>
</html>